<!DOCTYPE html>
<html>
<head>
    
        <meta charset="UTF-8">
        <title>MediMate</title>
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="#" class="logo">
                    <img src="{{ url_for('static', filename='logo-removebg.png') }}" alt="logo">
                    <h2>MEDIMATE</h2>
                </a>
                <ul class="links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login/Signup</a></li>
                </ul>
            </nav>
        </header>
    
        <div class="content">
            <h1>MediMate</h1>
            <form method="POST">
                <input type="text" name="medicine_name" placeholder="Enter the name of the medicine:" required>
                <button type="search">Search</button>
            </form>
            {% if medicine_info %}
                <div class="medicine-info">
                    {{ medicine_info | safe }}
                </div>
            {% endif %}
        </div>
    </body>
    </html>
    